.s-hero {
  height: 80rem;
  padding-top: 16.4rem;
  padding-bottom: 10.3rem;
  background-image: url("../img/bg-hero.jpg");
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .left {
    width: 100%;
    max-width: 78.2rem;
    h1 {
      margin-top: 2.4rem;
      margin-bottom: 1.8rem;
    }
    p {
      margin-bottom: 4rem;
      font-size: 2.2rem;
      font-weight: 500;
      color: #ffffff;
    }

    .value {
      display: flex;
      strong {
        padding: 1.8rem 3.6rem;
        font-weight: 700;
        font-size: 2rem;
        background-color: #ffffff;
        color: #000000;
      }
      a {
        display: block;
        padding: 1.8rem 3.6rem;
        font-weight: 700;
        font-size: 2rem;
        background-color: #3265ea;
      }
    }
  }
  .right {
    position: relative;
    top: 9.7rem;
    width: 100%;
    max-width: 44.3rem;
    span {
      display: block;
      margin-bottom: 2.3rem;
      font-weight: 700;
      font-size: 1.8rem;
    }
    button {
      position: relative;
      width: 100%;
      height: 24.7rem;
      margin-bottom: 5.1rem;
      border: 2px solid #3265ea;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      .thumbnail {
        width: 100%;
      }
      .play {
        position: absolute;
        bottom: 2.5rem;
        left: 3.2rem;
      }
    }
    .parental-rating {
      display: flex;
      align-items: center;
      p {
        max-width: 27.4rem;
        margin-left: 15px;
        font-weight: 400;
        font-size: 1.6rem;
        color: #ffffff;
      }
    }
  }
  @media (max-width: 1200px) {
    height: auto;
    padding: 8rem 0;
    background-position-x: 30%;
    .left {
      max-width: 64rem;
      p {
        font-size: 1.8rem;
      }
    }
    .right {
      top: 0;
      max-width: 35.3rem;
      button {
        height: 19.7rem;
      }
    }
  }
  @media (max-width: 991px) {
    padding: 6rem 0;
    background-size: cover;
    .container {
      flex-direction: column;
      align-items: center;
    }
    .left {
      margin-bottom: 4rem;
      text-align: center;
      .value {
        justify-content: center;
      }
    }
    .right {
      text-align: center;
      button {
        margin-bottom: 3rem;
      }
      .parental-rating {
        flex-direction: column;
        p {
          margin-left: 0;
          margin-top: 2rem;
        }
      }
    }
  }
  @media (max-width: 560px) {
    padding: 4rem 0;
    .left {
      h1 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
      p {
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 3rem;
        font-size: 1.4rem;
      }
      .value {
        flex-direction: column;
      }
    }
    .right {
      button {
        max-width: 31rem;
        height: 17.7rem;
      }
      .parental-rating {
        p {
          line-height: 2.4rem;
        }
      }
    }
  }
}

.s-general-info {
  display: flex;
  align-items: center;
  width: 100%;
  height: 18rem;
  ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        display: block;
        text-align: center;
        margin-top: 1.2rem;
        font-weight: 400;
        font-size: 1.6rem;
        color: #bdc2cb;
      }
    }
  }
  @media (max-width: 1200px) {
    padding: 4rem 0;
    height: auto;
    ul {
      flex-wrap: wrap;
      gap: 3rem 0;
      li {
        width: 33.3%;
      }
    }
  }
  @media (max-width: 560px) {
    ul {
      li {
        width: 50%;
        span {
          max-width: 14.5rem;
        }
      }
    }
  }
}

.s-story {
  width: 100%;
  padding-top: 16rem;
  padding-bottom: 8rem;
  background-image: url("../img/bg-story.png");
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left {
    width: 100%;
    max-width: 62.9rem;
    h2 {
      max-width: 50.2rem;
      margin-top: 2.8rem;
      margin-bottom: 2.4rem;
    }
    p {
      margin-bottom: 5.6rem;
    }
    .corp {
      display: flex;
      align-items: center;
      p {
        max-width: 32.4rem;
        margin-bottom: 0;
        margin-left: 4.6rem;
        font-size: 1.6rem;
      }
    }
  }
  .kratos-atreus {
    position: relative;
    left: 110px;
    top: -45px;
    @media (max-width: 1368px) {
      top: 12px;
    }
  }
  @media (max-width: 1200px) {
    padding: 6rem 0;
    background-image: none;
    .container {
      flex-direction: column-reverse;
    }
    .left {
      max-width: 100%;
      text-align: center;
      .subtitle {
        justify-content: center;
      }
      h2 {
        max-width: 75%;
        margin: 2rem auto;
      }
      .corp {
        justify-content: center;
      }
    }
    .kratos-atreus {
      top: 0;
      left: 0;
      margin-bottom: 6rem;
    }
  }
  @media (max-width: 991px) {
    .left {
      h2 {
        max-width: 95%;
      }
    }
  }
  @media (max-width: 560px) {
    .left {
      h2 {
        font-size: 3rem;
      }
      p {
        font-size: 1.6rem;
        margin-bottom: 4rem;
      }
      .corp {
        flex-direction: column;
        p {
          margin-left: 0;
          margin-top: 3rem;
        }
      }
    }
    .kratos-atreus {
      margin-bottom: 4rem;
    }
  }
}

.s-characters {
  padding-top: 17.6rem;
  padding-bottom: 14.3rem;
  background-image: url("../img/bg-characters.png");
  background-position: center center;
  overflow: hidden;
  .description {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .left {
      width: 100%;
      max-width: 61.2rem;
      h2 {
        margin-top: 2.8rem;
        margin-bottom: 2.4rem;
      }
    }
    .right {
      display: flex;
      align-items: center;
      .text {
        span {
          display: block;
          max-width: 14.3rem;
          margin-top: 2.2rem;
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
    }
  }
  @media (max-width: 1200px) {
    padding: 6rem 0;
  }
  @media (max-width: 991px) {
    .description {
      flex-direction: column;
      align-items: center;
      .left {
        max-width: 100%;
        margin-bottom: 4rem;
        text-align: center;
      }
    }
  }
  @media (max-width: 560px) {
    padding: 4rem 0;
    .description {
      .left {
        h2 {
          font-size: 3rem;
        }
        p {
          font-size: 1.6rem;
        }
      }
      .right {
        flex-direction: column;
        align-items: center;
        .text {
          img {
            margin: 0 auto;
          }
          span {
            max-width: 100%;
          }
        }
      }
    }
    .slide-characters {
      margin-top: 4rem;
    }
  }
}
